*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.bannerhome{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0.75)), url(homepage.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 194.8; 
    height: 120;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 40px;
    margin-top: 50px;
}
.content p{
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
}
span{
    background: #009688;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.bannerprofile{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0.75)), url(profile.jpg);
    background-size: cover;
    background-position: center;
}
.profile{
    width: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.profile ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.profile ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.profile ul li:hover::after{
    width: 100%;
}
.bannerhometown{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0.75)), url(hometown.jpg);
    background-size: cover;
    background-position: center;
}
.hometown{
    width: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hometown ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.hometown ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.hometown ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.hometown ul li:hover::after{
    width: 100%;
}
.bannerfood{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0.75)), url(food.jpg);
    background-size: cover;
    background-position: center;
}
.food{
    width: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.food ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.food ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.food ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.food ul li:hover::after{
    width: 100%;
}
.bannertourist{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0.75)), url(tourist.jpg);
    background-size: cover;
    background-position: center;
}
.tourist{
    width: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tourist ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.tourist ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.tourist ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.tourist ul li:hover::after{
    width: 100%;
}